// Colors

$red:			#F9461C;
$blue:			#066697;
$dark-blue:		#22284F;
$light-blue:	#606375;
$black:			#000000;
$white:			#FFFFFF;

//Fonts

$heading-font:	'Montserrat', sans-serif;
$base-font:		'Lato', sans-serif;